.container {
  margin-top: 2rem;
}

.postPreview {
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 70%;
}

.postPreviewWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-left: 10%;
  padding-right: 10%;
}
