.header {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 5px 8px rgba(255, 255, 255, 0.7);
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav {
  height: min-content;
}

.nav > * {
  padding-left: 1em;
  padding-right: 1em;
}

.title {
  position: absolute;
  top: 22vh;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  color: white;
  opacity: 0.8;
}
