.container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.postPreview {
  padding: 0.5rem;
  border-radius: 1rem;
}

.postPreviewWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
